<div class="navbar-fixed white">
  <nav class="white z-depth-1">
  <div class="nav-wrappergrey">
 

  <button [flat]="'true'" mz-button (click)="sidenav.opened = !sidenav.opened" class='show-on-large button-collapse btn ng-tns-c5-2 btn btn-floating waves-effect waves-red darken-4 buttonnav' style="top:0px;" ><i class='material-icons  black-text'>menu</i></button>   

<ul class="center-align">
  <img style="margin-top: 3px" class="logoadmin" src="../../../assets/images/Practy logo.png">
</ul>

  </div>
  </nav>
  </div>
  <div class="white z-depth-0 transparent hide-on-med-and-up" >
  <mz-parallax [height]="320">
          <img style="background-position: center;" src="../../../assets/images/parallaxsmallscreen.png">
   </mz-parallax>
  </div>
  <div class="white z-depth-0 transparent hide-on-small-only" >
      <mz-parallax [height]="400">
              <img style="background-position: center;" src="../../../assets/images/parallax.png">
       </mz-parallax>
</div>
<mz-sidenav #sidenav [id]="'sidenav-demo'">
  <mz-sidenav-header>
    <img style="background-position: center;" width="100%" src="../../../assets/images/p logo.png">
  </mz-sidenav-header>
  <mz-sidenav-subheader>Menú</mz-sidenav-subheader>
  <mz-sidenav-link>
      <button class="waves-effect waves-red btn-flat" style="width: 100%;" routerLink="/vendedor/home"><i class="material-icons left">home</i> <a class="left  grey-text text-darken-4">Inicio</a> </button>
    </mz-sidenav-link>
    <mz-sidenav-divider></mz-sidenav-divider>
    <mz-sidenav-link>
      <button class="waves-effect waves-red btn-flat" style="width: 100%;" routerLink="/vendedor/venta"><i class="material-icons left">shop</i> <a class="left grey-text text-darken-4">Ventas</a></button>
    </mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>
  
  <mz-sidenav-link >
      <button class="waves-effect waves-red btn-flat" style="width: 100%;" routerLink="/"><i class="material-icons left">close</i><a class="left grey-text text-darken-4">Cerrar Sesion</a></button>

  </mz-sidenav-link>
</mz-sidenav>