<div class="navbar-fixed white">
    <nav class="white z-depth-1">
    <div class="nav-wrappergrey">
   

    <button [flat]="'true'" mz-button (click)="sidenav.opened = !sidenav.opened" class='show-on-large button-collapse btn ng-tns-c5-2 btn btn-floating waves-effect waves-red darken-4 buttonnav' style="top:0px;" ><i class='material-icons  black-text'>menu</i></button>   
 
  <ul class="center-align">
    <img style="margin-top: 3px" class="logoadmin" src="../../../assets/images/Practy logo.png">
  </ul>
  
    </div>
    </nav>
    </div>
    <div class="white z-depth-0 transparent hide-on-med-and-up" >
    <mz-parallax [height]="320">
            <img style="background-position: center;" src="../../../assets/images/parallaxsmallscreen.png">
     </mz-parallax>
    </div>
    <div class="white z-depth-0 transparent hide-on-small-only" >
        <mz-parallax [height]="400">
                <img style="background-position: center;" src="../../../assets/images/parallax.png">
         </mz-parallax>
  </div>
  <mz-sidenav #sidenav [id]="'sidenav-demo'">
    <mz-sidenav-header>
      <img style="background-position: center;" width="100%" src="../../../assets/images/p logo.png">
    </mz-sidenav-header>
    <mz-sidenav-subheader>Menú</mz-sidenav-subheader>
    <mz-sidenav-link>
        <button class="waves-effect waves-red btn-flat" style="width: 100%;" routerLink="/vendedor/home"><i class="material-icons left">home</i> <a class="left  grey-text text-darken-4">Inicio</a> </button>
      </mz-sidenav-link>
      <mz-sidenav-divider></mz-sidenav-divider>
      <mz-sidenav-link>
        <button class="waves-effect waves-red btn-flat" style="width: 100%;" routerLink="/vendedor/venta"><i class="material-icons left">shop</i> <a class="left grey-text text-darken-4">Ventas</a></button>
      </mz-sidenav-link>
    <mz-sidenav-divider></mz-sidenav-divider>
    
    <mz-sidenav-link >
        <button class="waves-effect waves-red btn-flat" style="width: 100%;" routerLink="/"><i class="material-icons left">close</i><a class="left grey-text text-darken-4">Cerrar Sesion</a></button>
 
    </mz-sidenav-link>
</mz-sidenav>


  <div class="container containerform">
  <mz-card
  class="white #960D09-text z-depth-1">
  <mz-card-title>
    <h4 class="center">Ventas</h4>
  </mz-card-title>
 
  <mz-card-content>
   
    
  <div class="row red-text text-darken-4" style="margin-top: 30px; ">
  
            <div class="col s12 m6 l6 ">
                <div class="input-field center  ">
                    <i class="material-icons prefix">shopping_cart</i>
                    <input [(ngModel)]="venta.numFactura" id="icon_prefix" type="text" class="validate">
                    <label  name="numFactura" for="icon_prefix">Numero de factura</label>
                  </div>
            </div>

<div class="col s12 m6 l6">
  <div class="row">
<mz-collapsible

  [onClose]="closeFunctionCallback"
  [onOpen]="openFunctionCallback">
  <mz-collapsible-item [active]="false">
    <mz-collapsible-item-header>
    Cliente Registrado?
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>

       
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">account_circle</i>
                  <input type="text" id="autocomplete-input" class="autocomplete" [(ngModel)]="venta.cedula">
                  <label for="autocomplete-input">Buscar Cliente</label>
                </div>
              </div>
          
    </mz-collapsible-item-body>
  </mz-collapsible-item>

</mz-collapsible>
</div>
</div>     

<div class="col s12 m6 l6">
    <mz-collapsible
      [mode]="'expandable'"
      [onClose]="closeFunctionCallback"
      [onOpen]="openFunctionCallback">

    
      <mz-collapsible-item [active]="false">
          <mz-collapsible-item-header>
          Cliente no registrado?
          </mz-collapsible-item-header>
          <mz-collapsible-item-body>
           <div class="row">
              <div class="col s12 m12 l6 center">
                  <div class="input-field center ">
                      <i class="material-icons prefix">perm_identity</i>
                      <input id="icon_prefix" type="text" class="validate" [(ngModel)]="venta.cedula">
                      <label for="icon_prefix">Cedula</label>
                    </div>
              </div>
    
              <div class="col s12 m12 l6 center">
                  <div class="input-field center ">
                      <i class="material-icons prefix">person</i>
                      <input id="icon_prefix" type="text" class="validate" [(ngModel)]="venta.nomCompleto">
                      <label for="icon_prefix">Nombre completo</label>
                    </div>
              </div>
    
              <div class="col s12 m12 l6 center">
                  <div class="input-field center ">
                      <i class="material-icons prefix">phone</i>
                      <input id="icon_prefix" type="text" class="validate" [(ngModel)]="venta.telefono">
                      <label for="icon_prefix">Telefono</label>
                    </div>
              </div>
    
              <div class="col s12 m12 l6 center">
                  <div class="input-field center ">
                      <i class="material-icons prefix">add_location</i>
                      <input id="icon_prefix" type="text" class="validate" [(ngModel)]="venta.direccion">
                      <label for="icon_prefix">Direccion</label>
                    </div>
              </div>
    
              <div class="col s12 m12 l6 center">
                  <div class="input-field center ">
                      <i class="material-icons prefix">location_city</i>
                      <input id="icon_prefix" type="text" class="validate" [(ngModel)]="venta.barrio">
                      <label for="icon_prefix">Barrio</label>
                    </div>
              </div>
            </div>
          </mz-collapsible-item-body>
        </mz-collapsible-item>
    </mz-collapsible>
    </div> 
                

            <div class="col s12 m6 l6 center">
                
                <mz-select-container>
                    <i class="material-icons prefix" style="left:0%;">shopping_cart</i>
                    <select mz-select
                      id="options-select"
                      [label]="'Departamento'"
                      [placeholder]="' '"
                      class="formcomponents"
                      [(ngModel)]="venta.departamento"
                      >
                      <optgroup label="Departamentos">
                        <option ></option>
                      </optgroup>
                    </select>
                    
                  </mz-select-container>
            </div>

            <div class="col s12 m6 l6 center">
                <mz-select-container>
                    <i class="material-icons prefix" style="left:0%;">shopping_cart</i>
                    <select mz-select
                      id="options-select"
                      [label]="'Ciudad'"
                      [placeholder]="' '"
                      class="formcomponents"
                      [(ngModel)]="venta.ciudad"  name="ciudad" 
                    >
                      <optgroup label="Ciudades">
                        <option ></option>   
                      </optgroup>
                    </select>
                  </mz-select-container>
            </div>

    
    <div class="col s12 m6 l6 center">
      <mz-select-container>
        <i class="material-icons prefix" style="left:0%;">perm_device_information</i>
          <select mz-select
            id="options-select"
            [label]="'Marca'"
            [placeholder]="' '"
            class="formcomponents"
            [(ngModel)]="venta.marca"
          >
            <optgroup label="Marcas">
              <option ></option>
              
            </optgroup>
          </select>
        </mz-select-container>
</div>

<div class="col s12 m6 l6 center">
  <mz-select-container>
    <i class="material-icons prefix" style="left:0%;">perm_device_information</i>
      <select mz-select
        id="options-select"
        [label]="'Modelo'"
        [placeholder]="' '"
        class="formcomponents"
        [(ngModel)]="venta.modelo"
      >
        <optgroup label="Modelos">
          <option ></option>
     
        </optgroup>
      </select>
    </mz-select-container>
</div>

    <div class="col s12 m6 l6 center">
            <mz-select-container>
              <i class="material-icons prefix" style="left:0%;">shopping_cart</i>
                <select mz-select
                  id="options-select"
                  [label]="'Lista de IMEI'"
                  [placeholder]="' '"
                  class="formcomponents"
                  [(ngModel)]="venta.imei"  name="imei" 
                >
                  <optgroup label="iMEI">
                    <option ></option>  
                  </optgroup>
                </select>
              </mz-select-container>
    </div>
     
    </div>
      

  </mz-card-content>
  <mz-card-action >
    <button class="btn waves-effect waves-light btn-large red darken-4 " style="display: block; margin: auto; border-radius: 5px" type="submit" name="action">Registrar venta
      <i class="material-icons right">send</i>
    </button>
  </mz-card-action>
</mz-card>
</div>