<div class="navbar-fixed white">
    <nav class="white z-depth-1">
    <div class="nav-wrappergrey">
   

    <button [flat]="'true'" mz-button (click)="sidenav.opened = !sidenav.opened" class='show-on-large button-collapse btn ng-tns-c5-2 btn btn-floating waves-effect waves-red darken-4 buttonnav' style="top:0px;" ><i class='material-icons  black-text'>menu</i></button>   
 
  <ul class="center-align">
    <img style="margin-top: 3px" class="logoadmin" src="../../../assets/images/Practy logo.png">
  </ul>
  
    </div>
    </nav>
    </div>
    <div class="white z-depth-0 transparent hide-on-med-and-up" >
    <mz-parallax [height]="320">
            <img style="background-position: center;" src="../../../assets/images/parallaxsmallscreen.png">
     </mz-parallax>
    </div>
    <div class="white z-depth-0 transparent hide-on-small-only" >
        <mz-parallax [height]="400">
                <img style="background-position: center;" src="../../../assets/images/parallax.png">
         </mz-parallax>
  </div>
  <mz-sidenav #sidenav [id]="'sidenav-demo'">
      <mz-sidenav-header>
        <img style="background-position: center;" width="100%" src="../../../assets/images/p logo.png">
      </mz-sidenav-header>
      <mz-sidenav-subheader>Menú</mz-sidenav-subheader>
      <mz-sidenav-link [active]="true">
          <a routerLink="/vendedor/home">Inicio</a>
        </mz-sidenav-link>
        <mz-sidenav-divider></mz-sidenav-divider>
        <mz-sidenav-link [active]="true">
          <a routerLink="/vendedor/venta">Ventas</a>
        </mz-sidenav-link>
      <mz-sidenav-divider></mz-sidenav-divider>
      
      <mz-sidenav-link >
        <a href="#" class="waves-effect">Cerrar Sesion</a>
      </mz-sidenav-link>
  </mz-sidenav>


  <div class="container containerform">
  <mz-card
  class="white #960D09-text z-depth-1">
  <mz-card-title>
    <h4 class="center">Ventas</h4>
  </mz-card-title>
 
  <mz-card-content>
   
    
        <div class="row red-text text-darken-4" style="margin-top: 30px; ">
  
            <div class="col s12 m6 l6 center">
                <div class="input-field center  ">
                    <i class="material-icons prefix">shopping_cart</i>
                    <input id="icon_prefix" type="text" class="validate">
                    <label [(ngModel)]="venta.numFactura"  name="numFactura" for="icon_prefix">Numero de factura</label>
                  </div>
            </div>

            <div class="col s12 m6 l6 center">
                <div class="input-field center ">
                    <i class="material-icons prefix">perm_identity</i>
                    <input id="icon_prefix" type="text" class="validate">
                    <label [(ngModel)]="venta.cedula"  name="cedula" for="icon_prefix">Cedula</label>
                  </div>
            </div>

            <div class="col s12 m6 l6 center">
                <div class="input-field center ">
                    <i class="material-icons prefix">person</i>
                    <input [(ngModel)]="venta.nomCompleto"  name="nomCompleto" id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix">Nombre completo</label>
                  </div>
            </div>

            <div class="col s12 m6 l6 center">
                <div class="input-field center ">
                    <i class="material-icons prefix">phone</i>
                    <input [(ngModel)]="venta.telefono"  name="telefono" id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix">Telefono</label>
                  </div>
            </div>

            <div class="col s12 m6 l6 center">
                <div class="input-field center ">
                    <i class="material-icons prefix">add_location</i>
                    <input [(ngModel)]="venta.direccion"  name="direccion" id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix">Direccion</label>
                  </div>
            </div>

            <div class="col s12 m6 l6 center">
                <div class="input-field center ">
                    <i class="material-icons prefix">location_city</i>
                    <input [(ngModel)]="venta.barrio"  name="barrio" id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix">Barrio</label>
                  </div>
            </div>

            

            <div class="col s12 m6 l6 center">
                
                <mz-select-container>
                    <i class="material-icons prefix" style="left:0%;">shopping_cart</i>
                    <select mz-select
                      id="options-select"
                      [label]="'Departamento'"
                      [placeholder]="' '"
                      class="formcomponents"
                      [(ngModel)]="venta.departameto"  name="departamento" 
                    >
                      <optgroup label="Departamentos">
                        <option >Valle</option>
                        <option >Córdoba</option>
                        <option >Antioquia</option>
                        <option >Cundinamarca</option>
                        <option >Cesar</option>
                        
                      </optgroup>
                    </select>
                    
                  </mz-select-container>
            </div>

            <div class="col s12 m6 l6 center">
                <mz-select-container>
                    <i class="material-icons prefix" style="left:0%;">shopping_cart</i>
                    <select mz-select
                      id="options-select"
                      [label]="'Ciudad'"
                      [placeholder]="' '"
                      class="formcomponents"
                      [(ngModel)]="venta.ciudad"  name="ciudad" 
                    >
                      <optgroup label="Ciudades">
                        <option >Cali</option>
                        <option >Medellin</option>
                        <option >Bogotá</option>
                        <option >Barranquilla</option>
                        <option >Cartagena</option>
                      </optgroup>
                      >
                    </select>
                  </mz-select-container>
            </div>

            
  
    <div class="col s12 m6 l6 center" >
            <mz-input-container _ngcontent-c5="" class="col s12" _nghost-c7="">
              <div _ngcontent-c7="" class="input-field">
                <i class="material-icons prefix">perm_device_information</i>
                    <input _ngcontent-c5="15846126" id="autocomplete-input" mz-input="" type="text" class="ng-tns-c5-0 autocomplete">
                    <label for="autocomplete-input" class="">Dispositivo</label>
              <ul class="autocomplete-content dropdown-content"></ul>
            </div>
          </mz-input-container>
    </div>
    
    <div class="col s12 m6 l6 center">
            <mz-select-container>
              <i class="material-icons prefix" style="left:0%;">shopping_cart</i>
                <select mz-select
                  id="options-select"
                  [label]="'Lista de IMEI'"
                  [placeholder]="' '"
                  class="formcomponents"
                  [(ngModel)]="venta.imei"  name="imei" 
                >
                  <optgroup label="iMEI">
                    <option >123456789123456</option>
                    <option >123456765823456</option>   
                  </optgroup>
                </select>
              </mz-select-container>
        </div>
    
    
    
    
    </div>
      

  </mz-card-content>
  <mz-card-action >
    <button class="btn waves-effect waves-light btn-large red darken-4 " style="display: block; margin: auto; border-radius: 5px" type="submit" name="action">Registrar venta
      <i class="material-icons right">send</i>
    </button>
  </mz-card-action>
</mz-card>
</div>