<!--<div class="navbar-fixed">
  <nav>
  <div class="nav-wrapper red lighten-2">
  <ul class="center">
  <ul class="center">
  <a class="brand-logo center" style="padding-top: 5px"><h5>Practy Stock</h5></a>
  </ul>
  </ul>
  <ul class="left">
   
  <button  mz-button (click)="sidenav.opened = !sidenav.opened" class='show-on-large button-collapse transparent z-depth-0' ><i class='material-icons  white-text'>menu</i></button>
  
  </ul>
  </div>
  </nav>
  </div>
  

<mz-sidenav #sidenav [id]="'sidenav-demo'">

</mz-sidenav>
-->
<router-outlet></router-outlet>
