<div class="fondo">
  <div class="row"> 
  <div class="cardlogin">
  
      <div class="col s0 m3 l4"></div>
      
      <div class="col s12 m6 l4">
          <br>
            <div class="card large z-depth-5 cardlogincard">
              <div class="card-content">
  
                
  <form class="col s12" (ngSubmit)="login()">
  <div class="row ">
    <div class="col m1 l1"></div> 
      <div class="col s12 m12 l10">
          
          <h5 class="center">Inicio de sesion</h5><br/>
  
          <div class="input-field col s12">
            <i class="material-icons prefix">person</i>
            <input  [(ngModel)]="user.login"  name="cedula" placeholder="Numero de identificación" id="cedula"  type="text" class="validate" required >
          </div>
  
          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <input [(ngModel)]="user.password" name="password" placeholder="Contraseña" id="password" type="password" class="validate" name="contraseña" required >
          </div>
  
      <div class="center"><button class="btn-large waves-effect waves-light red darken-2" type="submit" style="margin-top:10px;" name="send">Iniciar Sesion<i class="material-icons right">send</i></button></div>
  
      </div>
  
  </div>
  </form>
              </div> 
            </div>

      </div>

  </div>
  </div>
  </div>